body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.box {
    border: 2px solid gray;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px;
}